.titulo {
  font-family: "Century Gothic" "Arial";
  font-size: 55px;
  text-align: center;
}
.textopequeno {
  font-size: 30px;
  color: #515e6e;
  font-family: "Century Gothic" "Arial";
  text-align: center;
}
.formLogin {
  background-color: #e6f4fb;
}
.inputtext {
  font-family: "Century Gothic" "Arial";
  font-size: 30px;
  color: #7f7eb3;
  font-variant: normal;
  font-style: inherit;
  font-weight: 700;
}
.control-label {
  font-size: 35px;
  font-family: Century Gothic;
  font-weight: lighter;
}
.form-control {
  font-family: Century Gothic;
  display: inline;
  float: left;
}
.btn {
  width: 145px;
  height: 40px;
  font-size: 20px;
  font-family: Century Gothic;
  letter-spacing: 1px;
  font-variant: small-caps;
  text-transform: uppercase;
  margin-top: 35px;
  color: #000000;
  font-weight: bold;
  margin-left: 50px;
  margin-right: 50px;
}
.bck {
  background: rgba(149, 149, 149, 0.55);
  height: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.fgtsenha {
  font-family: Century Gothic;
  font-size: 30px;
  text-decoration: underline;
  text-align: center;
}
.divforget {
  padding-top: 40px;
}
.body {
  height: 100%;
}
.container-fluid {
  background-color: rgba(149, 149, 149, 0.55);
  text-align: center;
  padding-bottom: 20px;
  position: relative;
  display: block;
}
.navbar {
  background-color: rgba(149, 149, 149, 0.55);
}
.fontdrop {
  font-family: "Century Gothic";
  font-size: 25px;
  text-align: left;
}
.divstyle {
  font-family: "Century Gothic" "Arial";
  text-align: center;
  margin-left: 135px;
  margin-right: 135px;
  margin-bottom: 9px;
  padding-bottom: 0px;
}
.formatdiv {
  font-family: "Century Gothic" "Arial";
  text-align: center;
  font-style: normal;
  font-size: 25px;
  font-weight: lighter;
  position: relative;
  float: left;
  display: inline;
}
.editstyle {
  margin-right: 120px;
  margin-left: 120px;
  position: relative;
}
.divpai {
  background-color: rgba(149, 149, 149, 0.55);
  text-align: center;
  padding-bottom: 20px;
  position: relative;
  background-position: center;
}
.editstyle2 {
  margin-right: 550px;
  position: relative;
  display: inline;
}
.col-md-4 {
  width: 163px;
  margin-left: 95px;
  position: relative;
  display: inline;
  float: left;
  left: 5px;
  margin-right: 25px;
}
.divbotao {
  display: inline;
  position: relative;
}
.colunapequena {
  width: 410px;
  margin-left: -55px;
  padding-left: 25px;
  left: 140px;
}
.questcolumn {
  width: 720px;
}
.radiolabel {
  font-size: 25px;
  margin-left: 30px;
  margin-right: 30px;
  font-weight: normal;
  font-family: "Century Gothic" "Arial";
}
.checkboxlabel {
  font-size: 25px;
  margin-left: 70px;
  margin-right: 30px;
  font-weight: normal;
  font-family: "Century Gothic" "Arial";
  width: 720px;
  text-align: left;
}
